
header {
    background:#F1F3FF;
    width: 100%;
    height: 500px;
}

#nav{
    position: sticky;
    top: 0px;
    z-index: 1001px;
}

#navbarNav {
    margin-left: 55%;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: Black !important;
    font-weight: normal;
}

.nav-tank{
    background: #5CBB5F;
    border-radius: 2px;
}


#hero .hero .container .row .col-md-6 {
    padding-top: 5%; 

    
}


.contain{
    margin-top: 150px;
}

#services{
    margin-top: 80px;
}

#why{
    margin-top: 100px;
    margin-left: 18%;
}
#testimony {
    margin: 100px;
}
.carousel-indicators li{
    background: #f1f3ff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 100px;
    
}

.carousel-indicators .active{
    background: #5CBB5F;
}

.accordion-item{
    background-color: #111010;
    border: 25px solid #070707;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    width: 600px;
    height: 32px;
}
.accordion-link{
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.answer{
    left: 10px;
    max-height: 0;
    overflow: hidden;
    position: relative; 
    transition: max-height 650ms;
}

.answer p{
    padding-top: 20px;
    
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.feather{
    width: 35px;
    height: 35px;
    background: #0D28A6;
    border-radius: 100%;
    color: white;
}

.feather-instagram{
    margin-left: 105px;

}

.feather-twitter{
    margin-left: 5px;
}

.feather-mail{
    margin-left: 5px;
}

.feather-twitch{
    margin-left: 4px;
}
